@import "tailwindcss";

/* cup */

.cup{

width:90px;
height:100px;

background:#fff;

border-radius:
0 0 35px 35px;

position:relative;

animation:
cupFloat 3s ease-in-out infinite;

}


/* tea */

.tea-surface{

position:absolute;

top:8px;
left:8px;

width:74px;
height:10px;

background:#C69C6D;

border-radius:50px;

}


/* handle */

.cup-handle{

position:absolute;

right:-16px;
top:28px;

width:22px;
height:35px;

border:6px solid white;

border-left:none;

border-radius:50%;

}


/* shadow */

.cup-shadow{

margin-top:12px;

width:90px;
height:12px;

background:rgba(0,0,0,.08);

border-radius:50%;

animation:
shadowScale 3s infinite;

}


/* steam */

.steam-container{

height:80px;

display:flex;
gap:8px;

margin-bottom:-10px;

}

.steam{

width:10px;
height:60px;

background:
rgba(255,255,255,.7);

border-radius:50px;

filter:blur(6px);

opacity:0;

}


.steam1{

animation:
steamMove 3s infinite;

}

.steam2{

animation:
steamMove 3s .6s infinite;

}

.steam3{

animation:
steamMove 3s 1.2s infinite;

}


/* animations */

@keyframes steamMove{

0%{

opacity:0;

transform:
translateY(20px)
translateX(0);

}

50%{

opacity:1;

}

100%{

opacity:0;

transform:
translateY(-50px)
translateX(10px);

}

}


@keyframes cupFloat{

0%,100%{

transform:
translateY(0px);

}

50%{

transform:
translateY(-6px);

}

}


@keyframes shadowScale{

0%,100%{

transform:
scale(1);

opacity:.1;

}

50%{

transform:
scale(.8);

opacity:.2;

}

}